season=season_10_lettuce_yr_2020
scan_date=2020-02-29
season_id=10
date=2020-02-29

cyverse_base_input=/iplant/home/shared/phytooracle/$season/level_1/scanner3DTop
cyverse_input_path=$cyverse_base_input/increase_bounding_area_50/${scan_date}/plantcrop/${scan_date}_combined_pointclouds_plants.tar
cyverse_output_path=$cyverse_base_input/increase_bounding_area_50/${scan_date}/centered

data_path=/xdisk/ericlyons/ariyanzarei/plant_centering/data
result_base_path=/xdisk/ericlyons/ariyanzarei/plant_centering/result

image=/xdisk/ericlyons/ariyanzarei/plant_centering/singularity_images/plant_centering_image.simg

hpc_input=$data_path/$scan_date
hpc_output=$result_base_path/$scan_date
