season=season_10_lettuce_yr_2020
scan_date=2020-02-29
lids=/xdisk/kobus/ariyanzarei/3d_geocorrection/lids/lids_10.txt
plants=/xdisk/kobus/ariyanzarei/3d_geocorrection/plants/clustering_season_10.csv
season_id=10
date=2020-02-29
transformation=/xdisk/kobus/ariyanzarei/3d_geocorrection/result/$scan_date/transformation.json

cyverse_base_input=/iplant/home/shared/phytooracle/$season/level_0/scanner3DTop
cyverse_base_preprocessing_output=/iplant/home/shared/phytooracle/$season/level_1/scanner3DTop/manual_approach
cyverse_base_geocorrection_output=/iplant/home/shared/phytooracle/$season/level_2/scanner3DTop/manual_approach
cyverse_input_path=$cyverse_base_input/${scan_date}.tar.gz

data_path=/xdisk/kobus/ariyanzarei/3d_geocorrection/data
result_base_path=/xdisk/kobus/ariyanzarei/3d_geocorrection/result

image=/xdisk/kobus/ariyanzarei/singularity_images/full_geocorrection.simg
preprocessing_code=/home/u7/ariyanzarei/projects/3d_preprocessing/main.py
alignment_code=/home/u7/ariyanzarei/projects/3d_sequential_align/main.py
geocorrection_code=/home/u7/ariyanzarei/projects/3d_postprocessing/main.py
cropping_code=/home/u7/ariyanzarei/projects/3d_crop_individual_plants/main.py

preprocessing_input=$data_path/$scan_date
preprocessing_output=$result_base_path/$scan_date/preprocessing
alignment_output=$result_base_path/$scan_date/alignment
geocorrection_output=$result_base_path/$scan_date/geocorrection
cropping_output=$result_base_path/$scan_date/cropping
